<!DOCTYPE html>
<html>
<head>
  <title>Todolists</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% logger.debug("HERE3.9 @@@@@@@@@@@@@@@@@@@@@@@:") %>
<% if logged_in? then %>
<div style='float: right;'>
<% logger.debug("HERE4.0 @@@@@@@@@@@@@@@@@@@@@@@") %>

Logged in as <%= current_user.username %> |
<%= link_to "Logout", logout_path, method: :delete %>
</div>
<% end %>
<%= yield %>

</body>
</html>



